@model List<librarymanagement1.Models.ViewModel>

@{
    ViewBag.Title = "BookLedger";
    Layout = null;
}

<h2>Book Ledger</h2>

<html>
<head>
    <link href="~/Content/style4.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.js"></script>
   
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="#" class="active">Home</a>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
          
        </div>

        <div class="h1">
            <h1>
                <center>BOOKS LEDGER</center>
            </h1>
        </div>

        @using (Html.BeginForm("BookLedger", "IssueBook", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
        

            <div class="editor">
                @Html.Label("Admission No")
            </div>
            <div class="editor1">
                @* Assuming AddmissionNo is a property of ViewModel *@
                @Html.TextBoxFor(model => model.FirstOrDefault().AddmissionNo, new { id = "txtbox" })
            </div>

            <div class="editor-field1">
                @Html.Label("From")
            </div>
            <div class="editor-field11">
                @Html.TextBoxFor(model => model[0].Date, new { id = "date-picker", style = "width:118px" })
            </div>

            <div class="editor-field2">
                @Html.Label("To")
            </div>
            <div class="editor-field12">
                @Html.TextBoxFor(model => model[0].Date, new { id = "date-picker1", style = "width:118px" })
            </div>

            <div class="editor-field3">
                @Html.Label("Name")
            </div>
            <div class="editor-field13">
                @Html.TextBoxFor(model => model.FirstOrDefault().Name, new { id = "txtbox1" })
            </div>

            <div class="editor-field4">
                @Html.Label("Class")
            </div>
            <div class="editor-field14">
                @Html.TextBoxFor(model => model.FirstOrDefault().Class, new { id = "txtbox2" })
            </div>

            <div class="editor-field5">
                @Html.Label("Roll No")
            </div>
            <div class="editor-field15">
                @Html.TextBoxFor(model => model.FirstOrDefault().RollNo, new { id = "txtbox3" })
            </div>
        }

        <div class="table-responsive">
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>SrNo</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>AccNo</th>
                        <th>IssueDt</th>
                        <th>Ret.Dt.</th>
                        <th>DaysDel</th>
                        <th>Fine</th>
                        <th>RecNo</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SrNo</td>
                            <td>@item.Author</td>
                            <td>@item.Title</td>
                            <td>@item.AccessionNo</td>
                            <td>@item.Date</td>
                            <td>@item.Date</td>
                            <td>@item.Date</td>
                            <td>@item.Cost</td>
                            <td>@item.SrNo</td>
                            <td>@item.Remarks</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*<hr />

            <footer class="foot">
                <input type="checkbox" class="selectAllCheckbox"> Select All
                <button class="button1">Send SMS</button>
            </footer>*@

        <script type="text/javascript">
            debugger
            $(document).ready(function () {
                debugger
                $('#date-picker').datepicker();
            });
            debugger
            $(document).ready(function () {
                debugger
                $('#date-picker1').datepicker();
            });
        </script>
    </div>
    <div class="right-sidebar">
        <!-- Right sidebar content -->
        <h2><center>MY LIBRARY</center></h2>
        <ul>
            <li><a href="https://localhost:44352/Home/listbook">OPEN IN EXCEL</a></li>
            <li><a href="https://localhost:44352/Home/listbooks">LIST OF BOOKS</a></li>
            <li><a href="https://localhost:44352/bookentry/Index">NEW BOOK ENTRY</a></li>
            <li><a href="https://localhost:44352/IssueBook/Issuebook">ISSUE BOOK</a></li>
            <li><a href="https://localhost:44352/IssueBook/Receivebook">RECEIVE BOOK</a></li>
            <li><a href="https://localhost:44352/IssueBook/IssueR%CC%A5egister">BOOKS ISSUE REGISTER</a></li>
            <li><a href="https://localhost:44352/IssueBook/ReceiveR%CC%A5egister"> BOOKS RECEIVE REGISTER</a></li>
            <li><a href="https://localhost:44352/IssueBook/BookLedger">BOOK LEDGER</a></li>
            <li><a href="https://localhost:44352/pendingbook/bookpending">PENDING BOOK</a></li>

        </ul>
    </div>
</body>
</html >
